*{
    margin: 0;
}

body{
    background-color: #fefefe;
}

header{
    background: #ebebe9; /* Color de fondo del header */
    display: flex; /* Display flexible */
    justify-content: space-between;
    align-items: center;
}

.Titulo{
    position: absolute;
    left: 100px;
}

.img-portada{
    float: left;
    width: 50%;
}

.login{
    float: left;
    text-align: center;
    width: 50%;
    height: 720px;
    background-color: white;
    align-content: center;
    position: relative;
}
.login input{
    height: 30px;
    width: 300px;
    border-radius: 5px;
    z-index: 2;
    position: relative;
    background: #ebebe9;
    padding: 5px 10px;
}

.login label{
    font-size: 25px;
}

h1{
    font-size: 50px;
}

footer{
    display: flex;
    text-align: left;
    justify-content:end ;
    background: #1e1837;
    padding: 15px 25px;
    float: left;
    margin-top: -5px;
    width: 1416px;
}

h4{
    color: #ffffff;
    font-size: 18px;
}

.Referencias {
    padding: 10px 25px;
}

.Referencias a{
    color: #ffffff;
    text-decoration: none;
    margin-left: 15px;
    margin-top: 6px;
}



p{
    color: #57566c;
    font-size: 30px;
    text-align: justify ;
    margin-left: 195px;
    margin-bottom: 25px;
}

.btnContinuar{
    width: 115px;
    height: 25px;
    border-radius: 13px;
    border: solid 1px #7f7e9b;
    background: #7f7e9b;
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}